
@font-face {
  font-family: 'Conduit ITC Medium';
  src: url('/assets/fonts/Conduit ITC Medium.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Conduit ITC Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Conduit ITC Medium.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/Conduit ITC Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/Conduit ITC Medium.svg#62043743f8634040a9fd6ad92b04dd57') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Conduit ITC Light';
  src: url('/assets/fonts/Conduit ITC Light.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Conduit ITC Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Conduit ITC Light.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/Conduit ITC Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/Conduit ITC Light.svg#8c1625998c6c5258b7d05c60a45bde8c') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}


body {
  background-color: lightgrey;
}

.rose { color: #C4258C; }
.brun { color: #786E59; }


h1 {
    font-size: 28px;
    font-family: 'Conduit ITC Medium';
    text-transform: uppercase;
    line-height: 30px;
    color: #786E59;
}

h2, h4 {
    font-size: 40px;
    font-family: 'Conduit ITC Light';
    color: #C4258C;
    line-height: 20px;
}

h4 {
    font-size: 20px;
}

.num_1 { background: url('/img/numero/num_1.png') no-repeat;  padding: 5px 30px 5px; }
.num_2 { background: url('/img/numero/num_2.png') no-repeat;  padding: 5px 30px 5px; }
.num_3 { background: url('/img/numero/num_3.png') no-repeat;  padding: 5px 30px 5px; }

#bas {
    text-align: center;
}

p {
    text-align: justify;
    color: #766B59;
}

th {
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(186,181,172,1);
}

td {
  color: #766B59;
  background-color: rgba(186,181,172,0.4);
}

a {
  color: #C4258C;
}

a:hover {
  color: #C4258C;
}

.mini {
  font-size: 11px;
}

.hero-unit {
    padding: 30px;
    border-radius:20px;
    text-shadow: 0 2px 0 #FFFFFF;
}
.hero-unit p {
    text-shadow: 0 1px 0 #FFFFFF;
}
.hero-unit, .navbar {
}
.well {
}
.navbar .nav > li > a {
    font-size: 16px;
}

.user {
    font-family: 'Conduit ITC Medium';
    position: absolute;
    top: 8px;
    right: 5px;
    width: 200px;
    padding: 2px 10px 0 0;
}


.user a {
  font-size: 15px;
  color: #766B59;
  background: url('/img/deco.png') no-repeat;
  text-transform: uppercase;
  height: 28px;
  padding: 10px 36px 10px 4px ;
}

.user a:hover {
  color: #C4258C;
  text-decoration: none;  
}

.masthead {
    height: 155px;
    margin-top: 15px;
}

.logoDH {
    float: left;
    width: 200px;
}

.titrePage{
    float: left;
    width: 450px;
    padding-top: 55px;
    padding-left: 35px;
}

.titrePage h2{
  font-family: 'Conduit ITC ExtraLight';
  text-transform: uppercase;
  font-size: 45px;

}

.modeSite {
    float: right;
    width: 200px;
}

.main_mariage{
    float: left;
    height: 213px;

}

.deco_mariage{
    float: right;
    width: 232px;
}

.topo_mariage {
    float: left;
    width: 470px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.recap_mariage{
    font-family: 'Conduit ITC Medium';
    width: 230px;
    /*height: 184px;*/
    padding: 2px 20px 0 20px;
    color: white;
    background-color: #C4258C;
}


.recap_mariage h3 {
    text-transform: uppercase;
    text-align: right;
}

.recap_mariage ul {
    margin: 0px;
}

.recap_mariage li {
    list-style: none;
    line-height: 1.8em;
    text-transform: uppercase;
}

li.recap1 {
    margin-left: 15px;
    width: 215px;
} 
li.recap2 {
    margin-left: 10px;
    width: 215px;
    text-align: right;
} 
li.recap3 {
    width: 215px;
    margin-left: 5px;
} 

li.recap4 {
    width: 215px;
    margin-left: 0px;
} 





.contenu {
    float: left;
    width: 100%;
    padding: 10px;
}


.formulaire {
    width: 260px;
    float: left;
}

.preview {
    width: 450px;
    float: right;
}


.remise {
    float: left;
    width: 742px;
    margin-top: 50px;
}


.remise1 {
    width: 200px;
    font-family: 'Conduit ITC Medium';
    font-size: 20px;
    text-transform: uppercase;
    color: #C4258C;
    float: left;
    padding-top: 20px;
    padding-bottom: 5px;
}

.remise2 {
    background: url('/img/progress/progress_fond.png') no-repeat;
    width: 476px;
    height: 59px;
    float: right;
    padding: 20px
}

.remise_txt{
  position: absolute;
  float: left;
  margin-left: 202px;
  margin-top: -34px;
  font-family: 'Conduit ITC Medium';
  font-size: 48px;
  color: #C4258C;
}


.remise_small {

  width: 230px;
  padding: 2px 20px 0 20px;

}


.remise_small .remise1 {
    width: 131px;
    font-family: 'Conduit ITC Medium';
    font-size: 14px;
    text-transform: uppercase;
    color: #C4258C;
    float: left;
    padding-top: 20px;
    padding-bottom: 5px;
}

.remise_small .remise2 {
    background: none;
    width: 100%;
    height: 59px;
    float: right;
    padding: 0px
}

.remise_small .remise_txt{
  position: absolute;
  float: left;
  margin-left: 36px;
  margin-top: -40px;
  font-family: 'Conduit ITC Medium';
  font-size: 35px;
  color: #C4258C;
}


.progress {

  background-color: white;
  /*background: none;*/
  background-image: none;
  /*box-shadow: none;*/

	-webkit-transform: skew(-9deg);
	-moz-transform: skew(-9deg);
	-o-transform: skew(-9deg);
	tranform: skew(-9deg);

	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
  height: 30px;
}

.progress .bar{

  background-color: #C4258C;

  background-image: -moz-linear-gradient(top, #AF217D, #C4258C);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#AF217D), to(#C4258C));
  background-image: -webkit-linear-gradient(top, #AF217D, #C4258C);
  background-image: -o-linear-gradient(top, #AF217D, #C4258C);
  background-image: linear-gradient(to bottom, #AF217D, #C4258C);


}
.br_inv{
  float: left;
  width: 710px;
  height: 59px;
  background: url('/img/barreinv/inv_fond.png') no-repeat;
  margin-bottom: 20px;
}

.br_inv_plus {
  float: left;
  width: 205px;
  height: 54px;
}

.br_inv_mail a, .br_inv_pdf a, .br_inv_fb a{
  font-family: 'Conduit ITC Medium';
  padding: 20px 0px 20px 50px;
  color: #786E59;
  text-transform: uppercase;
  font-size: 15px;
}  


.br_inv_mail a {
  float: left;
  width: 90px;
  background: url('/img/barreinv/inv_mail.png') no-repeat;
}

.br_inv_mail a:hover{
  background: url('/img/barreinv/inv_mail_hover.png') no-repeat;
  color: #C4258C;
  text-decoration: none;
}

.br_inv_pdf a {
  float: left;
  width: 135px;
  height: 54px;
  background: url('/img/barreinv/inv_pdf.png') no-repeat;
}

.br_inv_pdf a:hover {
  background: url('/img/barreinv/inv_pdf_hover.png') no-repeat;
  color: #C4258C;
  text-decoration: none;
}

a.br_inv_pdf , a.br_inv_mail{
  height: 30px;
  padding-top: 6px;
  margin-left: 10px;
  display: block;
  float: right;
  text-align: right;
}


a.br_inv_pdf {
  width: 70px;
  background: url('/img/barreinv/inv_pdf.png') no-repeat;
  background-position: 0px -10px;
}

a.br_inv_mail {
  width: 80px;
  background: url('/img/barreinv/inv_mail.png') no-repeat;
  background-position: 0px -10px;
}


a.br_inv_pdf:hover {
  background: url('/img/barreinv/inv_pdf_hover.png') no-repeat;
  background-position: 0px -10px;
}

a.br_inv_mail:hover {
  background: url('/img/barreinv/inv_mail_hover.png') no-repeat;
  background-position: 0px -10px;
}



.br_inv_fb a {
  padding: 20px 0px 20px 35px;
  float: left;
  width: 95px;
  height: 54px;
  background: url('/img/barreinv/inv_fb.png') no-repeat;
}

.br_inv_fb a:hover {
  background: url('/img/barreinv/inv_fb_hover.png') no-repeat;
  color: #C4258C;
  text-decoration: none;
}

.bt_effacer {
  background: url('/img/picto/picto_effacer.png') no-repeat;
  width: 40px;
  height: 40px;
  min-width: 40px;
}

.bt_modifier {
  background: url('/img/picto/picto_modifier.png') no-repeat;
  width: 40px;
  height: 40px;
  min-width: 40px;
}

.bt_cle {
  background: url('/img/picto/picto_cle.png') no-repeat;
  width: 40px;
  height: 40px;
  min-width: 40px;
}

a.btn-detail {
    font-family: 'Conduit ITC Medium';
    text-transform: uppercase;
    /*color: #C80E8E;*/
    height: 100%;
    display: block;
}

a.btn-detail:hover {
    /*color: #FFFFFF;*/
    /*background-color: #C80E8E;*/
    text-decoration: none;
}

td.btn-detail {
  vertical-align:middle
}

.table-striped tbody > tr:nth-child(odd) > td.btn-detail:hover, td.btn-detail:hover {
    background-color: #C80E8E;
    color: #FFFFFF;
}

td.btn-detail:hover a {
    color: #FFFFFF;
}


.chosen-container {
  margin-bottom: 15px;
}



.btn-pr {
  display: inline-block;
  padding: 4px 2px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}


.btn-rose, .btn-brun, .btn-gris {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
}



.btn-rose, .btn-brun, .btn-gris {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: rgba(255,255,255,0);
  border-style: solid;
  border-width: 0px 10px 0px 10px;
  padding: 2px 6px 3px;
  /*height: 25px;*/
}

.btn-rose {
  -moz-border-image: url(/img/boutons/bt_r.png) 0 10 0 10 repeat;
  -webkit-border-image: url(/img/boutons/bt_r.png) 0 10 0 10 repeat;
  -o-border-image: url(/img/boutons/bt_r.png) 0 10 0 10 repeat;
  border-image: url(/img/boutons/bt_r.png) 0 10 0 10 fill repeat;
 }

.btn-brun {


  -moz-border-image: url(/img/boutons/bt_b.png) 0 10 0 10 repeat;
  -webkit-border-image: url(/img/boutons/bt_b.png) 0 10 0 10 repeat;
  -o-border-image: url(/img/boutons/bt_b.png) 0 10 0 10 repeat;
  border-image: url(/img/boutons/bt_b.png) 0 10 0 10 fill repeat;

 }

.btn-gris {
  -moz-border-image: url(/img/boutons/bt_g.png) 0 10 0 10 repeat;
  -webkit-border-image: url(/img/boutons/bt_g.png) 0 10 0 10 repeat;
  -o-border-image: url(/img/boutons/bt_g.png) 0 10 0 10 repeat;
  border-image: url(/img/boutons/bt_g.png) 0 10 0 10 fill repeat;
 }

a:hover.btn-rose, a:hover.btn-brun, a:hover.btn-gris{
  color: #ffffff;
  text-decoration: none;
}

